@tailwind base;
/* Firefox */
* {
  scrollbar-width: 12px;
  scrollbar-track-color: transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 118);
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;
